/* Requerimiento: Construir la tarjeta azul degradada */
.balance-card {
  background-image: linear-gradient(120deg, #11255A,#5C83BE, #8DC0FF); /* Ajusta estos colores a tu figma */
  color: white;
  padding: 24px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card-header {
  margin-left: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  opacity: 1.1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-icons {
  display: flex;
  gap: 16px;
}

.balance-amount {
  margin-left: 20px;
  margin-top: -10px;

  font-size: 65px;
  font-weight: 800;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: -1px;
}

/* Requerimiento: que el usuario no pueda seleccionar el monto */
.balance-amount .amount,
.balance-amount .currency {
  user-select: none;
  cursor: default;
}

.card-footer {
  padding: 4px 10px;
  border-radius: 20px;

  font-size: 14px;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(255, 255, 255, 0.7);

  margin-left: 25px;
  margin-top: -5px;

  display: flex;
  align-items: center;
  gap: 12px;
}

.card-number {
  opacity: 0.7;
}

.card-status {
  background-color: rgba(113, 225, 111, 0.53);
  padding: 4px 10px;
  border-radius: 20px;

  font-size: 14px;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}